@import "../../styles.scss";
.lob-detail-header{

    display: flex;
    justify-content: space-between;
    align-items: center;    
    border-bottom: 1px solid grey;
    box-sizing: border-box;       
    .lob-id-status{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;            
        justify-content: space-between;
        align-items: center;
        grid-column-gap: 10rem;
        .lob-status{
            // width: 5rem;           
            color: #FFFFFF;
            padding: .5rem 1rem;
            border-radius: 18px;
            text-align: center;
        }
        .lob-id{
            font-size: 1.5rem;
        }
        .lob-edit{
            font-size: 1.5rem;


        }

    }
}