.lob-custom-content-case-detail{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: left;
    margin-top: 1rem;
    grid-row-gap: 2rem;
    margin-bottom: 4rem;
    
    .lob-record-link-upper-section{
        width: 1rem;
        height: 1.6rem;
    }

}

.no-details-found{
    text-align: center;
    padding-top: 1.5rem;
}