.download-icon{
    cursor: pointer;
}
.name-field {
    display: flex;
    .case-document-name {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .pdf-file-img {
      width: 1rem;
      height: 1rem;
    }
  }
  