.download-icon{
    cursor: pointer;
}
.name-field {
    display: flex;
    .case-document-name {
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: underline;
      cursor: pointer;
    }
  
    .pdf-file-img {
      margin-right: 4px;
      width: 1rem;
      height: 1rem;
    }
  }
  