// @import "../../styles.scss";

// .dashboard {
//     display: grid;
//     grid-template-columns: 14vw auto auto auto;
  

//     .header-search{
//         grid-column-start: 1;
//         grid-column-end: 5;
//         display: flex;
//         background-color: #ECECEC;
//         padding-top: 0.5rem;
//         padding-bottom: 0.5rem;
        
        
//         .title {
//             padding-left: 4vw;
//             padding-left: 3vw;
//             margin-top: 1rem;  
//             margin-bottom: 1rem;   
//             text-align: right;
//             align-items: center;
//             font-size: 2.5rem; 
        
//         }
    
//         .search {
//             display: flex;
//             align-items: center;
//             margin-left: auto; 
//     margin-right: 3vw;
    
//         }
//     }
      
//     .lobData-container{
//         grid-column-start: 1;
//         grid-column-end: 4;
//         grid-row-start:2;    
        
       
//         .lobDataList{
//             min-height: 44rem;
//         }
        .lobData-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
        


            .lob-heading{
                font-size: 1.5rem;
            }
        }
        
//     }
//     .my-task{
//         grid-column-start: 1;
//         grid-column-end: 4;
//         grid-row-start:3
//     }
//     .pagination-case-list{    
//         display: flex;
//         justify-content: flex-end;   
//     }
// }