@import "../../styles.scss";
// .toggleButton : {
//     position: "absolute",
//     top: "30px",
//     left: "50px", // when open 240px
//     backgroundColor: "gray",
//     zIndex: "99999",
// }
.navaigation-drawer-container{
    position: relative;
    z-index: 0; 

    .logout-btn-caseflow{
        border: none;
        background-color: inherit;
        cursor: pointer;        
        color: $primary-theme-black-color;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 4rem;
        margin: 0 auto;
    } 
    .logout-btn-caseflow:hover{             
        font-weight:bold;
    }
    
}
.naviagtion-header{
    display: flex;
    gap: .6rem;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    
    h3{
        padding: 0;
        margin:0
    }
}


