version: '3.7'

services:
  caseflow-microservice:
    container_name: caseflow-microservice
    build: .
    environment:
      - NODE_ENV=${NODE_ENV:-production}
      - KEYCLOCK_CLIENT_ID=${KEYCLOCK_CLIENT_ID}
      - KEYCLOCK_REALM=${KEYCLOCK_REALM}
      - KEYCLOCK_AUTH_URL=${KEYCLOCK_AUTH_URL}
      - KEYCLOCK_SECRET=${KEYCLOCK_SECRET}

      - POSTGRESQL_HOST=${POSTGRESQL_HOST}
      - POSTGRESQL_PORT=${POSTGRESQL_PORT}
      - POSTGRES_DATABASE=${POSTGRES_DATABASE}
      - POSTGRES_DB_USERNAME=${POSTGRES_DB_USERNAME}
      - POSTGRES_DB_PASSWORD=${POSTGRES_DB_PASSWORD}
      - AWS_REGION=${AWS_REGION}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_BUCKET_NAME=${AWS_BUCKET_NAME}
      - ALFRESCO_REPO_URL=${ALFRESCO_REPO_URL}
      - SHAREPOINT_CLIENT_ID=${SHAREPOINT_CLIENT_ID}
      - SHAREPOINT_CLIENT_SECRET=${SHAREPOINT_CLIENT_SECRET}
      - SHAREPOINT_RESOURCE=${SHAREPOINT_RESOURCE}
      - SHAREPOINT_UPLOAD_URL=${SHAREPOINT_UPLOAD_URL}
      - SHAREPOINT_GET_DOCUMENT_URL=${SHAREPOINT_GET_DOCUMENT_URL}
      - SHAREPOINT_DELETE_DOCUMENT_URL=${SHAREPOINT_DELETE_DOCUMENT_URL}
      - SHAREPOINT_ACCESS_TOKEN_URL=${SHAREPOINT_ACCESS_TOKEN_URL}
      - SHAREPOINT_FORM_DIGEST_VALUE_URL=${SHAREPOINT_FORM_DIGEST_VALUE_URL}

    ports:
      - '7002:7002'
      - '7003:7003'
    tty: true
