.case-grid-container{
    display: grid;
    grid-template-columns: .7fr .3fr 1fr;
    grid-template-rows: auto ;  
    text-align: center; 
    
    .case-grid-line{
        border-left: 2px solid #BCBCBC;
        height: 100%;
        margin: 0 .5rem;
        position: relative;
        width: 0px;

        .case-grid-line-ball{
            width: 1rem;
            height: 1rem;           
            border-radius: 50%;
            position: absolute;
            top: 20px;
            right:-6.8px;
        }
    }
    .case-gird-details{
        text-align: left;
    }
    .case-grid-date{
        margin-top: 1.2rem;
        text-align: left;
    }
    .case-gird-details-header{
        text-align: left;
        display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .2rem;
    }
}