
@import "../../styles.scss";
.popup{
  .dialogActionCenter{
    .btn2Style{
      color:$primary-theme-black-color;   
    }
    .btn2Style:hover{      
      color: white;
    }
   
    
  }
  .confirm{
    .secondary{
      color: $primary-theme-black-color;
    }
    .primary {
     
    }
  }
  
}
