aenum==3.1.11
aniso8601==9.0.1
appdirs==1.4.4
APScheduler==3.9.1
attrs==22.1.0
azure-core==1.26.0
azure-storage-blob==12.14.1
beautifulsoup4==4.11.1
bs4==0.0.1
cachelib==0.9.0
case-conversion==2.1.0
certifi==2022.9.14
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.1
click==8.1.3
clipboard==0.0.4
cmislib==0.7.0
colorama==0.4.5
colour==0.1.5
cryptography==38.0.1
cursor==1.3.5
decorator==4.4.2
dill==0.3.6
distlib==0.3.6
ecdsa==0.18.0
filelock==3.8.0
Flask==2.1.2
flask-jwt-oidc==0.3.0
Flask-RESTful==0.3.9
flask-restx==0.5.1
fuzzywuzzy==0.18.0
gender-guesser==0.4.0
gunicorn==20.1.0
html-text==0.5.2
idna==3.4
imageio==2.22.3
imageio-ffmpeg==0.4.7
infi.systray==0.1.12
inflect==6.0.2
iso8601==1.0.2
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.16.0
lxml==4.9.1
MarkupSafe==2.1.1
maybe-else==0.2.1
mbstrdecoder==1.1.1
moviepy==1.0.3
msal==1.20.0
msoffcrypto-tool==5.0.0
msrest==0.7.1
numpy==1.23.4
O365==2.0.21
oauthlib==3.2.2
office365==0.3.15
Office365-REST-Python-Client==2.3.14
olefile==0.46
pandas==1.5.1
parsedatetime==2.6
pathmagic==0.3.14
Pillow==9.3.0
platformdirs==2.5.2
prettierfier==1.0.3
proglog==0.1.10
pyasn1==0.4.8
pycparser==2.21
pydantic==1.10.2
pydub==0.25.1
pyinstrument==4.3.0
pyiotools==0.3.18
PyJWT==2.6.0
pymiscutils==0.3.14
PyPDF2==2.11.1
pyperclip==1.8.2
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyrsistent==0.18.1
pysubtypes==0.3.18
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.0
python-jose==3.3.0
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
readchar==4.0.3
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rsa==4.9
Send2Trash==1.8.0
simplejson==3.17.6
six==1.16.0
soupsieve==2.3.2.post1
stringcase==1.2.0
tabulate==0.9.0
tqdm==4.64.1
typepy==1.3.0
typing_extensions==4.4.0
tzdata==2022.6
tzlocal==4.2
urllib3==1.26.12
virtualenv==20.16.5
Werkzeug==2.1.2
boto3
XlsxWriter==3.0.3
office365
Office365-REST-Python-Client

SQLAlchemy-Utils==0.38.3
SQLAlchemy==1.4.40
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
marshmallow-sqlalchemy==0.28.1
marshmallow==3.17.0