@import "../../styles.scss";

.recent-contact-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  .recent-contact-header-font {
    font-size: 1.5rem;
  }
}

.pagination-contact-list {
  display: flex;
  justify-content: flex-end;
}