@import "../../styles.scss";

.case-history-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: .7rem 0rem;
    border-bottom: 1px solid rgb(153, 147, 147);
    margin-bottom: 1rem;

    .case-history-header-name{        
        font-size: 1.5rem;
    }

}
.case-history-container{
    min-height: 100vh;
    padding-top: .8rem !important;
}
.case-gird-details{
    .case-gird-details-header{
        font-size: 1.25rem;
    }
}