@import "../../styles.scss";
.lob-details-container{
    display: grid;
    grid-template-columns: 14vw auto 25vw auto;
    
    .header-search{
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        background-color: #ECECEC;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        
        
        .title {
            padding-left: 4vw;
            padding-left: 5rem;
            margin-top: 1rem;  
            margin-bottom: 1rem;   
            text-align: right;
            align-items: center;
            font-size: 2.5rem; 
        
        }
    
        .search {
            display: flex;
            align-items: center;
            margin-left: auto; 
    margin-right: 3vw;
    
        }
    }
 
}
.lob-detail-container{
    margin: 5rem 10rem auto 5rem;
        
    }

.lob-detail-first-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-family:  $primary-font;
    margin:5rem 15rem 0rem 5rem;

    h3{
        margin-bottom: 0;        
        font-size: 1rem;
        color:black;
    }
    p{
        margin-top: 10px;
    }
}

