
.case-document-table{
    padding: 0;
  .caseDocumentAction-center{
    background-color:#BCBCBC;
    opacity: 0.3;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    text-align: center;
    color: black;
    &:first-child{
        font-weight: bolder;
    }
   
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  
}