@import "../../styles.scss";

.Table-Header {
  font: normal normal 600 16px/25px Poppins;
  color: #404040;
  border-bottom: 2rem;
  padding-left: 0;
  border-bottom-color: #606060;
}

.case-document-table{
    padding: 0;
  .caseDocumentAction-center{
    background-color:#BCBCBC;
    opacity: 0.3;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    text-align: center;
    color: black;
    &:first-child{
    }
   
}
.document-actions{
  font-size: 0rem;
}
  
}
.no-case-doc-found{
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

