@import "../../styles.scss";

.case-document-table{
    padding: 0;
  .caseDocumentAction-center{
    background-color:#BCBCBC;
    opacity: 0.3;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    text-align: center;
    color: black;
    &:first-child{
    }
   
}
.document-actions{
  font-size: 0rem;
}
  
}
.no-case-doc-found{
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

