@import "../../styles.scss";

.upload-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 1rem;
  // padding: 0rem 0rem 3rem 0rem;
  .upload-left {
    padding: 1rem 0rem 0rem 3rem;
    
    .upload-row {
      display: grid;
      grid-template-columns: 3fr 3fr;
      column-gap: 1rem;
      .choose-file-btn-upload{
        background-color:$primary-theme-black-color ;
        cursor: pointer;
        width: "100%";
        height: "3.4375rem";
      }
      .choose-file-btn-upload:hover{
        background-color: $primary-theme-black-color-hover;
      }
      .choose-file-btn-label-upload{
        cursor: pointer;
        width: "100%",
      }
         }
    .upload-type-selection {    
      padding-top: 1rem;
      label{
        color:$primary-theme-black-color
      }
    }

   
  }

  .upload-right {
    .display-upload-result {
      margin: 0rem 1rem 0rem 1rem;
     
      max-height: 95%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
      border-radius: 10px;
    }
  }
}
.hidden-inputs{
  padding: 1rem 0rem 0rem 3rem;
}
.upload-button {
  padding: 2rem 0rem 3rem 0rem;
  .upload-btn-abled{
    background-color: $primary-theme-black-color;
    color:white;
    margin: auto;
    height: 3.4375rem;
    width: 100%;
  }
  .upload-btn-abled:hover{
    background-color: $primary-theme-black-color-hover;
    
  }
  .upload-btn-disabled{
    border-color: $primary-theme-black-color;
    color: $primary-theme-black-color;
    margin: auto;
    height: 3.4375rem;
    width: 100%;
  }
}
.pg-viewer-wrapper{
  width: 100%;
  height: 200px;
  object-fit:contain; 
  overflow-y:hidden;   
}
.pg-viewer{
  height: 200px!important;
}
.pgViewContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 11rem;
  margin: 1rem 0rem 0rem 0rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  border-radius: 2px;
}
.preview-heading{
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
}

.background {
  background-color: #ffffff;
  align-items: center;
  .DMS-selector{
    padding: 1rem 0 1.3rem;
    width :87%;
    margin: auto;   
    label{
      color:$primary-theme-black-color
    }
  }
  .accordion {
    width: 70%;
    margin: auto;
    padding: 5rem 0% 5rem 0%;
    .acordions {
      height: 20vh;
    }
  }

}
.styled-select{
  &:before {
    border-color: #404040,
}
&:after {
    border-color: #404040,
}
}
.pdf-file-img {
  width: 300px;
  // height: 150px;
  align-items: center;
  
}