.case-detail-reference-first-row{
    display: flex;
    text-align: left;
    gap: 8rem;
    h3{
        margin-bottom: 0;
        color:#0031FF
    }
    p{
        margin-top: 10px;
        color: #0031FF;
    }
}
.configurable-case-content-section{
    text-align: left;
    color: #FF0000;
}