@import "../../../styles.scss";
.case-detail-reference-first-row{
    display: flex;
    text-align: left;
    flex-direction : row;
    flex-wrap: wrap;
    column-gap: 4rem;
    .item{
         flex: 0 0 100%;
        h3{
            margin-bottom: 0;
            color:#0031FF;
            font-size: 1rem;
        }
        p{
            margin-top: 10px;
            color: #0031FF;
        }
    }
   
}
.configurable-case-content-section{
    text-align: left;
    font: italic normal normal 16px/25px Poppins;
    color: #FF0000;
    padding-bottom: 3rem;
}