@import "../../styles.scss";

.recent-case-card-status{
    position: relative; 
    right: 1rem; 
    display: inline-block;
    height: 36px;
    background: #404040 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
    padding: 0 1rem 0 1rem;
.recent-case-card-status-text{
    margin: auto;
    padding-top: 6px;
font: normal normal normal 14px/21px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-align: center;
}

}
.recent-case-card-style{
font-family: $primary-font;
font-weight: 700;
}