@import "../../styles.scss";

    .recent-case-card-status{
        position: relative; 
        left: 1rem; 
        display: inline-block;
        height: 25px;
        background-color: #EBEBEB;   
        border-radius: 4px;
        opacity: 1;
        padding: .25rem .75rem ;
    .recent-case-card-status-text{
        // margin: auto;
        //padding-top: 6px;
        
    font: normal normal normal 12px/18px Poppins;
    letter-spacing: 0px;
    color: #404040;
    opacity: 1;
    text-align: center;
    }
    
    }
