.loader-container{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
  }

  $primary-theme-black-color: #404040; 
  $primary-theme-black-color-hover: #171616; 